@model FE.models.Usuario

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idcliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idcliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idemisor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idemisor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consulta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agesuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agesuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Appacc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Appacc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Usr">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
